

#poster{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#poster-img{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#poster > div{
    display: flex;
    flex-direction: column;
    width: 20%;
}

#poster h3{
    font-family: Helvetica, sans-serif;
    color: white;
}

#poster-title{
    background-color: orange;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #46a6ab;

    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chapters{
    display: flex;
    flex-direction: column;
}

.chapter{
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1%;
}

.chapter a{
    text-decoration: none;
    color: black;
}

