
/* Reset CSS */
body{
    margin: 0;
    padding: 0;
}

#search-box{
    position: absolute;
    left: 75%;
}

#menubar{
    display: flex;
    /* background-color: black; */
}

#menubar a{
    text-decoration: none;
}

#search-box svg{
    overflow: auto;
}

