
/* Reset CSS */
body{
    margin: 0;
    padding: 0;
}

:root {
    --searchbox: #444a4c;
}

#menubar{
    display: flex;
    margin-top: 20px;
    padding-bottom: 23px;
    background: var(--searchbox);
}

#menubar a{
    text-decoration: none;
    margin-top: 20px;
    margin-inline-start: 15%;
    color: white;
    font-size: 20px;
}

#search-box{
    display: flex;
    position: absolute;
    align-items: center;
    left: 75%;
    height: 36px;
    width: 100%;
    max-width: 20%;
    padding-left: 20px;
    margin-top: 12px;
    background: white;
    border: 2px solid var(--searchbox);
    border-radius: 60px;
}

#search-box input{
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 6px;
    font-size: 14px;
}

#search-box button{
    border: 0;
    background: var(--searchbox);
    border-radius: 50%;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

#search-box button img{
    width: 25px;
}

::placeholder{
    color: var(--searchbox);
}

@media (max-width: 1024px){

}

