
/* Reset CSS */
*{
    margin:0;
    padding:0;
}

:root {
    --searchbox: #424242;
    background-color: #212121;
}

#menubar{
    background: var(--searchbox);
    
    /* Preventing Selecting Text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menubar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 60px;
}

.menu-page{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu-page a{
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.7s;
}

.menu-page a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 #212121;
}

#search-box{
    display: flex;
    height: 36px;
    max-width: 20%;
    padding-left: 20px;
    margin-top: -9px;
    background: white;
    border: 2px solid var(--searchbox);
    border-radius: 60px;
}

#search-box input{
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 6px;
    font-size: 14px;
}

#search-box button{
    border: 0;
    background: var(--searchbox);
    border-radius: 50%;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

#search-box button img{
    width: 25px;
}

@media (max-width: 1024px){
    .menu-page {
        margin: auto;
    }
}

@media (max-width: 540px){
    .menu-page {
        margin: auto;
    }

    .menu-page a {
        font-size: 1rem;
    }

    #search-box input {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    #search-box input {
        width: 100px;
        padding: 0px;
    }
}

@media (max-width: 375px) {
    .menu-page a {
        font-size: .9rem;
        padding: 0px;
    }
}

