<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <script src="{{ url_for('static', filename = 'js/base.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div>
        <nav id="menubar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact US</a>
                <div id="search-box">
                    <input type="text" name="search-query" placeholder="Type To Search">
                    <button id="search-btn">
                        <img src="{{ url_for('static', filename = 'icons/search.png') }}" alt="">
                    </button>
                </div>
        </nav>
    </div>
    {% block body %}{% endblock %}
</body>
</html>