{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<script>
    var chapterList = JSON.parse({{ chapList| tojson | safe }});
    // This is not any error it's flask syntax for using
    // python variable and converting them to json object
</script>
<script src="{{ url_for('static', filename = 'js/chapter.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/chapter.css') }}">
{% endblock %}

{% block body %}
<div id="poster">
    <div>
        <img id="poster-img" src="{{ poster }}" alt="Manga Poster">
        <div id="poster-title">
            <h3>{{ title }}</h3>
        </div>
    </div>
</div>
<div id="chapters"></div>
{% endblock %}