{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<script>
    var chapterList = JSON.parse({{ chapList| tojson | safe }});
</script>
<script src="{{ url_for('static', filename = 'js/chapter.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/chapter.css') }}">
{% endblock %}

{% block body %}
<div id="poster">
    <div>
        <img id="poster-img" src="{{ poster }}" alt="Manga Poster">
    </div>
    <div>
        <div id="poster-title">
            <h3>{{ title }}</h3>
        </div>
        <div>
            <div>
                <p>
                    {{ descr }}
                </p>
            </div>
            <div>
                <span>Author Name : {{ author }}</span>
            </div>
            <div>
                <span>
                    Status : {{ status }}
                </span>
            </div>
            <div>
                <span>
                    {{ genres }}
                </span>
            </div>
        </div>
    </div>
</div>
<div id="chapters"></div>
{% endblock %}